<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/1.css">
</head>
<body>
        <li>
            <!-- 代码块 <%  %> -->
            <%=str  %>
            <!-- 标签字符串是不能用等=号的，要用- -->
            <%-HL  %>
            <!-- 数据循环 -->
            <% arr.forEach(item=>{%>
                <li><%=item %></li>
            <%}) %>
        </li>
        <%-include(fter) %>
</body>
</html>